<table border="1px">
    <tr>
        <th>Category</th>
        <th>Description</th>
        <th>Store</th>
        <th>Availability</th>
        <th>Fee</th>
        <th>Store location</th>
        <th>Recycling information</th>
    </tr>
    <tr *ngFor="let entry of entriesList">
        <td>{{entry.field1}}</td>
        <td>{{entry.field2}}</td>
        <td>{{entry.field3}}</td>
        <td>{{entry.field4}}</td>
        <td>{{entry.field5}}</td>
        <td>{{entry.field6}}</td>
        <td>{{entry.field7}}</td>
    </tr>

</table>



